CREATE DATABASE ShopOnline;
GO
USE [ShopOnline]
GO
/****** Object:  Table [dbo].[DatHang]    Script Date: 06/05/2021 12:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVien_ID] [int] NULL,
	[KhachHang_ID] [int] NULL,
	[DienThoaiGiaoHang] [nvarchar](20) NULL,
	[DiaChiGiaoHang] [nvarchar](255) NULL,
	[NgayDatHang] [datetime] NULL,
	[TinhTrang] [smallint] NULL,
 CONSTRAINT [PK_DatHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatHang_ChiTiet]    Script Date: 06/05/2021 12:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang_ChiTiet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DatHang_ID] [int] NULL,
	[Sach_ID] [int] NULL,
	[SoLuong] [smallint] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_DatHang_ChiTiet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 06/05/2021 12:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](255) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSach]    Script Date: 06/05/2021 12:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSach](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](255) NULL,
 CONSTRAINT [PK_LoaiSach] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 06/05/2021 12:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[Quyen] [bit] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 06/05/2021 12:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaXuatBan] [nvarchar](255) NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 06/05/2021 12:53:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NhaXuatBan_ID] [int] NULL,
	[LoaiSach_ID] [int] NULL,
	[TenSach] [nvarchar](255) NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
	[HinhAnhBia] [nvarchar](255) NULL,
	[MoTa] [ntext] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DatHang] ON 

INSERT [dbo].[DatHang] ([ID], [NhanVien_ID], [KhachHang_ID], [DienThoaiGiaoHang], [DiaChiGiaoHang], [NgayDatHang], [TinhTrang]) VALUES (1, NULL, 1, N'0123456789', N'Ung Văn Khiêm, Đông Xuyên, An Giang', CAST(N'2021-05-04T12:47:59.063' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DatHang] OFF
SET IDENTITY_INSERT [dbo].[DatHang_ChiTiet] ON 

INSERT [dbo].[DatHang_ChiTiet] ([ID], [DatHang_ID], [Sach_ID], [SoLuong], [DonGia]) VALUES (1, 1, 1, 1, 67000)
INSERT [dbo].[DatHang_ChiTiet] ([ID], [DatHang_ID], [Sach_ID], [SoLuong], [DonGia]) VALUES (2, 1, 2, 1, 76800)
SET IDENTITY_INSERT [dbo].[DatHang_ChiTiet] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ID], [HoVaTen], [DienThoai], [DiaChi], [TenDangNhap], [MatKhau]) VALUES (1, N'Nguyễn Văn Nam', N'0975055886', N'Phú Tân', N'nvnam', N'7C4A8D09CA3762AF61E59520943DC26494F8941B')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LoaiSach] ON 

INSERT [dbo].[LoaiSach] ([ID], [TenLoai]) VALUES (1, N'Văn học')
INSERT [dbo].[LoaiSach] ([ID], [TenLoai]) VALUES (2, N'Kinh tế')
INSERT [dbo].[LoaiSach] ([ID], [TenLoai]) VALUES (3, N'Tâm lý - Kĩ năng sống')
SET IDENTITY_INSERT [dbo].[LoaiSach] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([ID], [HoVaTen], [DienThoai], [DiaChi], [TenDangNhap], [MatKhau], [Quyen]) VALUES (1, N'Administrator', N'0123456789', N'Long Xuyên', N'admin', N'7C4A8D09CA3762AF61E59520943DC26494F8941B', 1)
INSERT [dbo].[NhanVien] ([ID], [HoVaTen], [DienThoai], [DiaChi], [TenDangNhap], [MatKhau], [Quyen]) VALUES (2, N'User', N'0111222333', N'Châu Đốc', N'user', N'7C4A8D09CA3762AF61E59520943DC26494F8941B', 0)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([ID], [TenNhaXuatBan]) VALUES (1, N'Âm nhạc')
INSERT [dbo].[NhaXuatBan] ([ID], [TenNhaXuatBan]) VALUES (2, N'Bách khoa Hà Nội')
INSERT [dbo].[NhaXuatBan] ([ID], [TenNhaXuatBan]) VALUES (3, N'Chính trị Quốc gia Sự thật')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([ID], [NhaXuatBan_ID], [LoaiSach_ID], [TenSach], [DonGia], [SoLuong], [HinhAnhBia], [MoTa]) VALUES (1, 30, 5, N'Hành tinh kỳ lạ', 67000, 100, N'Storage/8cb87eeb-adb4-4b36-a3b1-5f4b905a185b.jpg', NULL)
INSERT [dbo].[Sach] ([ID], [NhaXuatBan_ID], [LoaiSach_ID], [TenSach], [DonGia], [SoLuong], [HinhAnhBia], [MoTa]) VALUES (2, 21, 6, N'Chạm tới giấc mơ', 76800, 100, N'Storage/7ef24f18-098f-4a69-ae3a-58d978a3e434.jpg', NULL)
INSERT [dbo].[Sach] ([ID], [NhaXuatBan_ID], [LoaiSach_ID], [TenSach], [DonGia], [SoLuong], [HinhAnhBia], [MoTa]) VALUES (3, 46, 6, N'Nam Phương Hoàng hậu cuối cùng', 120000, 100, N'Storage/75f5b316-c3f3-428c-80aa-fc450ca260c8.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Sach] OFF
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_KhachHang] FOREIGN KEY([KhachHang_ID])
REFERENCES [dbo].[KhachHang] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_KhachHang]
GO
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_NhanVien] FOREIGN KEY([NhanVien_ID])
REFERENCES [dbo].[NhanVien] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_NhanVien]
GO
ALTER TABLE [dbo].[DatHang_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_ChiTiet_DatHang] FOREIGN KEY([DatHang_ID])
REFERENCES [dbo].[DatHang] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DatHang_ChiTiet] CHECK CONSTRAINT [FK_DatHang_ChiTiet_DatHang]
GO
ALTER TABLE [dbo].[DatHang_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_ChiTiet_Sach] FOREIGN KEY([Sach_ID])
REFERENCES [dbo].[Sach] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DatHang_ChiTiet] CHECK CONSTRAINT [FK_DatHang_ChiTiet_Sach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_LoaiSach] FOREIGN KEY([LoaiSach_ID])
REFERENCES [dbo].[LoaiSach] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_LoaiSach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([NhaXuatBan_ID])
REFERENCES [dbo].[NhaXuatBan] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
USE [master]
GO
